<td><%= link_to trainer.name, trainer %></td>
<td><%= link_to trainer.email, trainer %></td>
<!--
<td>
  <% trainer.pokemons.each do |p| %>
      <p>Name: <%= p.name %></br>
      Level: <%= p.level %></br>
      Health: <%= p.health %><p>
  <% end %>
</td>
-->
